<form #todoform="ngForm" (ngSubmit)="onSave(todoform.value)" novalidate>
  <p>Is "myForm" valid? {{todoform.valid}}</p>
  <table border='1'>
    <tr>
      <td>todo title</td>
      <td>
        <input name="id" type="hidden" [(ngModel)]="id" />
        <input name="title" type="text" required [(ngModel)]="title" required/>
      </td>
    </tr>

    <tr>
      <td>description</td>
      <td>
        <textarea name="description" required [(ngModel)]="description" required></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="{{valbutton}}" />
      </td>
    </tr>
  </table>
</form>

<table border='1'>
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Description</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let todo of tododata;let ind = index">
    <td>{{ind + 1}}</td>
    <td>{{todo.title}}</td>
    <td>{{todo.description}}</td>
    <td>
      <a (click)="edit(todo)" style="color:blueviolet">Edit</a>
    </td>
    <td>
      <a (click)="delete(todo._id)" style="color:blueviolet">Delete</a>
    </td>
  </tr>
</table>